.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    padding: 2em;
}

.postContainer{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    max-width: 45%;
    width: 45%;
    background: #393E46;
    border-radius: 8px;
}
.display{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  width: 100%;
}
.display button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-width: 50%;
  margin-bottom: 2em;
  background-color: #393E46;
  border: 2px solid #444952;
  color: #D0D0D0;
  cursor: pointer;
  transition: transform 0.3s;
}
.display button svg{
  margin-left: 5px;
  font-size: 2.4rem;
}
.display button:hover{
  transform: scale(1.02);
}
.loading {
    z-index: 50;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    letter-spacing: 0.1em;
    color: white;
  }
  
  .loading p {
    animation: pulse 3s ease-out infinite;
    display: inline-block;
  }
  
.loading span{
    background: #00ADB5;
    padding: 0.5em;
}

@keyframes pulse {
    0% {
      transform:scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
  }
  
  @media(max-width: 1024px){
    .list{
      padding: 0em;
    }
    .postContainer{
      width: 100%;
      max-width: 100%;
    }
}