.reaction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 100%;
}
.like{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.like p {
    color: white;
}
.like button {
    background: transparent;
    border: none;
}
.showComment{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.showComment button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    color: #D0D0D0;
    cursor: pointer;
}
.showComment button svg{
    font-size: 1.6rem;
    transition: transform 0.3s;
}
.showComment button svg:hover{
    transform: scale(1.1);
}

.heart-icon{
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s;
    fill: white;
}
.heart-icon:hover{
    transform: scale(1.1);
}
.heart-icon.liked {
    animation: fillHeart 0.5s forwards; 
  }


  @keyframes fillHeart {
    0% {
      fill: white;
    }
    100% {
      fill: red; 
    }
  }
