.item{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 12px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 100%;
    min-width: 100%;
}

.item img{
    width: 100%;
    object-fit: cover;
    width: 35rem;
    max-height: 30rem;
}

.content{
    width: 100%;
}
.content p{
    margin: 1em;
    padding: 0 0.2em;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
  max-width: 100%;
}
.profile{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1em;
}
.profile img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-right: 1em;
    align-self: center;
    border: 1px solid #146C94;
}
.postAuthor{
    display: flex;
    flex-direction: column;
}
.postDate{
    opacity: 0.75;
    z-index: 0;
}
.reaction {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}
.commentForm{
    position: relative;
    margin: 1em;
}
.commentForm textarea{
    width: 100%;
    max-width: 100%;
    padding: 1em;
    resize: none;
    border: 2px solid #146C94;
    border-radius: 10px;
}
.commentForm button {
    position: absolute;
    right: 0;
    bottom: 0;
    background: transparent;
    border: none;
    font-size: 1rem;
    color: #146C94;
    cursor: pointer;
    padding: 0.5em;
    transition: all 0.3s;
}
.commentForm button:hover{
    transform: scale(1.1);
}