.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
}

.postContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 45%;
    width: 45%;
    background: #393E46;
    border-radius: 8px;
}
.display{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.display button{
  width: 50%;
  margin-bottom: 2em;
}
.loading {
    background-color: white;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    letter-spacing: 0.1em;
  }
  
  .loading p {
    animation: pulse 3s ease-out infinite;
    display: inline-block;
  }
  
.loading span{
    background: #146C94;
    padding: 0.5em;
}

@keyframes pulse {
    0% {
      transform:scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
  }
  
  @media(max-width: 1024px){
    .postContainer{
      width: 100%;
      max-width: 100%;
    }
}