.notification{
    padding: 4px;
    border-radius: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 50;
    color: white;
}
.success{
    background-color: #34d399;
}

.error{
    background-color: #ef4444;
}
.pending{
    background-color: #3b82f6;
}