.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 45%;
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
}

.user img{
    width: 75px;
    height: 75px;
    border-radius: 50%;

}

.user button{
    margin: 2em;
}
