.position{
    position: fixed;
    height: 100%;
    top: 5em;
    right: 0;
    padding: 0 2em;
    margin-bottom: 2em;
    background-color: #393E46;
    color: #D0D0D0;
    overflow: auto;
    z-index: 10;
}
.list{
    margin-bottom: 2em;
}
.userlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
    margin: 2px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.5s;
}
.userlist:hover{
    transform: scale(1.1);
}
.userlist img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1em;
}

.position::-webkit-scrollbar{
    opacity: 0;
    width: 10px;
    transition: opacity 0.3s ease-in-out;
  }
  .position:hover::-webkit-scrollbar-thumb{
    background:#444952;
    border-radius: 25px;
    transition: background 0.3s ease-in-out;
  }

@media(max-width: 1024px){
    .position{
        display: none;
    }
}
