.item{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 100%;
    min-width: 100%;
    background: #393E46;
    color: #EEEEEE;
}

.content{
    width: 100%;
}
.content p{
    margin: 0.5em 1em;
    padding: 0 0.2em;
    white-space: wrap;
    overflow: hidden;
    word-wrap: break-word;
    max-width: 100%;
}

.modalanimationEnter {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  .modalanimationEnterActive {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  
  .modalanimationExit {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  
  .modalanimationExitActive {
    opacity: 0;
    transform: translateY(20px);
  }
  
  
  